<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Display</title>
</head>
<body>
    <a href="/">Home</a>
    <h1>Add User</h1>
    <form action="/users/add" method="post">
        <p>First name:</p>
        <input type="text" name="first_name" id="first_name">
        <p>Last name:</p>
        <input type="text" name="last_name" id="last_name">
        <p>Email:</p>
        <input type="text" name="email" id="email">
        <button>Add User</button>
    </form>
    
</body>
</html>